<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865051542566-sckkbe97g7p75qku5s63oco8c7siaeb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865051542566-sckkbe97g7p75qku5s63oco8c7siaeb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDGrpfzRc8yxliHDXgmy0-0XqGN9q6-Dys</string>
	<key>GCM_SENDER_ID</key>
	<string>865051542566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>timriedesel.mondayCooks</string>
	<key>PROJECT_ID</key>
	<string>mondaycooks</string>
	<key>STORAGE_BUCKET</key>
	<string>mondaycooks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865051542566:ios:13a05ce2897b13b56d92e7</string>
</dict>
</plist>